<section id="app-<%= @application.id %>-pets-added">  
  <% if @application.pets.count == 0 %>
    <p>Pets you select will appear below.</p>
  <% else %>
    <h4>Pets to be Adopted:</h4>
    <div id="pets-added">
      <% @application.pets.each do |pet| %>
        <div><%= link_to "#{pet.name}", pet_path(pet.id), method: :get %></div>
      <% end %>
    </div>
  <% end %>
</section>