<h2>Admin Portal: Application Review</h2>
<h3>Application ID: <%= @application.id %></h3>

<%= render "/applications/details" %>

<% if @application.Pending? %>
  <%= render "/applications/descrip" %>
  <%= render "admin_tools" %>
<% end %>
